/* Schriftarten */

/* sigmar-regular - latin_latin-ext_vietnamese */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Sigmar';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/sigmar-v2-latin_latin-ext_vietnamese-regular.eot'); /* IE9 Compat Modes */
    src: url('/fonts/sigmar-v2-latin_latin-ext_vietnamese-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/sigmar-v2-latin_latin-ext_vietnamese-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/sigmar-v2-latin_latin-ext_vietnamese-regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/sigmar-v2-latin_latin-ext_vietnamese-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/sigmar-v2-latin_latin-ext_vietnamese-regular.svg#Sigmar') format('svg'); /* Legacy iOS */
  }
  

:root {
    --bodyBackground: linear-gradient(0deg, rgb(6, 122, 238) 20%, rgba(0,174,255,1)80%);
    --mainFont: "Sigmar";
    --fontColor: white;
    --siteMinWidth: 400px;
    --mainButtonWidth: 13em;
    --mainButtonHeight: 2.5em;
    --mainButtonFont: 'Sigmar';
    --testBorder: 0px;
    --arrowWidth: 4em;
    --arrowHeigth:4em;
    --arrowMargin:0.2em;
  }



h1 {
    /* color: white; */
    background: linear-gradient(to right,#7928CA, #FF0080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--mainFont);
    font-size: 3em;
}

h2 {
    color: rgb(255, 255, 255);
    font-family: var(--mainFont);
    font-size: 2em;
    margin-left: 50px;
    margin-right: 50px;
}

ul {
    margin: 0;
    padding: 0;
}
html {
    background: var(--bodyBackground);
    min-height: 100%;
}
body {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    color: var(--fontColor);
    min-width: var(--siteMinWidth);
    
}

.selectDropdown {
    font-size: 1.7em;
    font-family: var(--mainButtonFont);
    color: #fff;
    background: linear-gradient(0deg, rgb(247, 54, 157), rgb(240, 67, 148));
    width: var(--mainButtonWidth);
    height: var(--mainButtonHeight);
    margin-bottom: 1em;
    border-radius: 0.5em;
    transition : 300ms;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
}

.selectDropdown:hover{
  color: rgb(186, 27, 128);
  }


.insertForm {
  font-size: 1.7em;
  font-family: var(--mainButtonFont);
  color: white;
  background: #d9d7d7;
  ::placeholder{
    color: white;
    opacity: 1;
  }
  width: var(--mainButtonWidth);
  height: var(--mainButtonHeight);
  margin-bottom: 1em;
  border-radius: 0.5em;
  transition : 300ms;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
}


#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 1em 0em 0.5em 0em;
    font-size: 2em;
    border: var(--testBorder) solid rgb(2, 149, 160);
   
}

#player {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    border: var(--testBorder) solid rgb(2, 160, 49);
    margin: 2em;
}

#playerIconFace {
    padding: 1em;
    border-radius: 50%;
    background: rgb(0,174,255);
    box-shadow: 5em;
    height: 100px;
    width: 100px;
}

.previewHeadline {
    font-family: var(--mainFont);
    color: rgb(165, 226, 245);
}

#previewField {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    width: 100%;
    max-width: 1000px;
}

@media (max-width: 900px) {
    #previewField {
      flex-direction: column;
      align-items: center;
    }
}

.previewFieldEntry {
    font-family: var(--mainFont);
    width: 200px;
    max-height: 400px;
    margin: 20px;
    padding: 20px;
    background: linear-gradient(0deg, rgb(255, 103, 16), rgb(255, 129, 50));
    border-radius: 50px;
    list-style-type: none;
    overflow: hidden;
    text-overflow: ellipsis;

}

@media (max-width: 900px) {
    .previewFieldEntry {
        width: var(--mainButtonWidth);
    }
}

#buttonField {
    margin-top: 50px;
    border:  var(--testBorder) solid rgb(233, 16, 186);
}

.mainButton{
    
    font-size: 1.7em;
    font-family: var(--mainButtonFont);
    color: var(--fontColor);
    background: linear-gradient(0deg, #0dcca1, #40e641 );
    width: var(--mainButtonWidth);
    height: var(--mainButtonHeight);
    margin: 1em;
    border-radius: 5em;
    transition : 300ms;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    list-style-type: none;
    text-decoration: none;
    border: (0deg, #0dcca1, #40e641 );
    }

  .mainButton:hover{
  color: #4c964e;
  }

  #arrowBox {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
  
  .arrow {
    height: var(--arrowHeigth);
    width: var(--arrowWidth);
    margin: var(--arrowMargin);
  }

  .navigationButton{
    font-size: 1.7em;
    font-family: var(--mainButtonFont);
    color: var(--fontColor);
    background: linear-gradient(0deg, #f7c931, #ead42c );
    width: var(--mainButtonWidth);
    height: var(--mainButtonHeight);
    margin: 0em;
    border-radius: 5em;
    transition : 300ms;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    list-style-type: none;
    text-decoration: none;
    border:  var(--testBorder) solid rgb(233, 16, 186);
    }
    .navigationButton:hover{
      color: #f7a531;
      }

  .arrowPlaceholder {
    height: var(--arrowHeigth);
    width: var(--arrowWidth);
    margin: var(--arrowMargin);
  }

  #headerMC {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-width: var(--siteMinWidth);
  }

  .lektionChoiceContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
  }

  .lektionChoiceContainerItem {
    width: var(--mainButtonWidth);
    font-family: var(--mainFont);
    margin: 20px;
    padding: 20px;
    background: linear-gradient(90deg, rgb(255, 189, 8) 0%, rgba(255,117,0,1) 64%, rgba(243,255,0,1) 100%);
    border-radius: 50px;
    list-style-type: none;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }

  .flexContainerEQChoice {
    display: flex;
  }

  .flexContainerEQChoiceItem {
    margin: 0 1em 0 1em;
  }

  .flexContainerEQQuestion {
    display: flex;
    flex-direction: column;
  }

  .flexContainerEQQuestionItemQuestion {
    margin: 2em 3em 2em 3em;
    height: 10em;
    resize: horizontal;
    background-color: rgb(255, 255, 255);
  }

  .flexContainerEQQuestionItemAnswer {
    margin: 1em 0 1em 6em;
    height: 8em;
    background-color: rgb(255, 255, 255);
  }

  .flexContainerEQQuestionItemButton {
    display: flex;
    justify-content: end;    
    margin: 0em;
    border: 0em;
  }

  .playerIcon {
    display: flex;
    justify-items: center;
    height: 6em;
    width: 6em;
  }

  .playerIconContainer {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 6em 6em 6em 6em;
    grid-template-rows: 6em 3em;
    gap: 2em;
  }

  #nameIconChoice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #showPlayerName {
    font-family: var(--mainFont);
    color: rgb(165, 226, 245);
  }

  #playerName{
    font-family: var(--mainFont);
    color: rgb(165, 226, 245);
  }

  .iconName {
    display: flex;
    justify-content: center;
    font-family: var(--mainFont);
    color: rgb(165, 226, 245);
  }

  .centerLessonContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .lessonContainer {
    display: flex;
    flex-direction: row;
    max-width: 840px;
    flex-wrap: wrap;
    color: white;
  }

  .lessonContainerItem {
    font-family: var(--mainFont);
    width: 200px;
    max-height: 400px;
    margin: 20px;
    padding: 20px;
    background: linear-gradient(0deg, rgb(247, 54, 157), rgb(240, 67, 148));
    border-radius: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ausgesucht {
    background: #40e641;
  }

  

  